{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}イベントリスト{% endblock %}

{% block content %}
    <h2>イベントリスト</h2>

    <a class="btn btn-primary mt-3 mb-3" href="{% url 'ticket:supporter-event-create' %}" role="button">新規登録</a>



    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>画像</th>
                <th>イベント名</th>
                <th>会場</th>
                <th>日付</th>
                <th>アクション</th>
            </tr>
        </thead>
        {% for event in event_list %}
        <tr>
            {% if event.image %}
                <td><img src="{{ event.image.url }}" style="width:100px; height:auto;"></td>
            {% endif %}
            <td>{{ event.title }}</td>
            <td>{{ event.place }}</td>
            <td>{{ event.date }}</td>
            <td>
                <a class="btn btn-outline-secondary" href="{% url 'ticket:supporter-event-update' event.pk %}" role="button">編集</a>
                <a class="btn btn-outline-danger" href="{% url 'ticket:supporter-event-delete' event.pk %}" role="button">削除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {# ページの表示 #}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>

    {# 前へ #}
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {# 次へ #}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
    {% endif %}

    <a href="javascript:history.back()" class="text-secondary">戻る</a>
{% endblock %}