{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}チケット情報更新{% endblock %}

{% block content %}
    <h1>チケット情報更新</h1>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="company" value="{{ user.company_id }}">
        <input type="hidden" name="event" value="{{ view.kwargs.event_id }}">

        <div class="mb-3">
            <label class="form-label" for="id_title">チケット名</label>
            <input type="text" name="title" value="{{ object.title }}" maxlength="150" class="form-control" placeholder="チケット名" required="" id="id_title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_price">金額</label>
            <input type="number" name="price" value="{{ object.price }}" class="form-control" placeholder="金額" required="" id="id_price">
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_type">種別</label>
            <select name="type" class="form-select" required="" id="id_type">
              <option value="" {% if object.type == "" %}selected{% endif %}>---------</option>
              <option value="free" {% if object.type == "free" %}selected{% endif %}>自由席</option>
              <option value="reserved" {% if object.type == "reserved" %}selected{% endif %}>指定席</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_area">エリア</label>
            <input type="text" name="area" value="{{ object.area }}" maxlength="150" class="form-control" placeholder="エリア" id="id_area">
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_seat_number">座席番号</label>
            <input type="text" name="seat_number" value="{{ object.seat_number }}" maxlength="150" class="form-control" placeholder="座席番号" id="id_seat_number">
        </div>
        <br>
        <button name="btn_submit" type="submit" class="btn btn-primary">更新する</button>
        <a href="javascript:history.back()" class="text-secondary">戻る</a>
    </form>
{% endblock %}
