{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}チケット削除{% endblock %}

{% block content %}
    <h1 class="center">チケット削除</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title text-danger">削除してよろしいですか？</h3><br>
                <p class="card-text">チケット名：{{ ticket.title }}</p>
                <p class="card-text">金額：{{ ticket.price }}</p>
                <p class="card-text">種別：{{ ticket.type }}</p>
            </div>
        </div>
        <input type="hidden" name="company" value="{{ user.company_id }}">
        <input type="hidden" name="event" value="{{ view.kwargs.event_id }}">
        <br>
        <button type="submit" class="btn btn-danger">はい</button>
        <a href="javascript:history.back()" class="text-secondary">戻る</a>
    </form>
{% endblock %}