{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        パスワードをお忘れですか？<br>
        パスワードをリセットするために、メールアドレスを入力してください。
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
    </form>
    <br>
    <a href="{% url 'ticket:supporter-login' %}" class="text-secondary">ログイン画面へ戻る</a>
{% endblock %}
